{% extends 'base.html' %}
{% block title %} Welcome ! {% endblock %}
{% block content %}
<div class="container">
  <h1 class="header center main-grey-text">Certificaciones UDV</h1>
  <div class="row center">
    <form class="col s12">
      <div class="row ">
        <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
          <input placeholder="Carné UDV" id="first_name" type="text" class="validate">
          <label for="first_name">Carné</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 offset-l3 m8 offset-m2">
          <input id="password" type="password" class="validate">
          <label for="password">Clave de Seguridad</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row center">
    <a href="#" class="btn-large waves-effect waves-light blue-paypal btn-block">Buscar</a>
  </div>
</div>
</div>
{% endblock %}